<div class="container-fluid attendeeInfoTablePadding">
  <h1 class="m-4 text-center"> Not Completed Registration </h1>

  <div class="d-flex flex-column justify-content-center align-items-center table-responsive-sm">
    <table class="table table-bordered table-striped table-sm text-center">
      <thead class="thead-dark">
        <tr>
      
          <th scope="col"> Name </th>
          <th scope="col"> Email </th>
        
        </tr>
      </thead>
      <tbody >
        <% for (var i = 0; i < result.length; i++) { %>
          <% if (result[i].elementRetreat2019.length == 0) { %>
        <tr>
         
          <td> <%= result[i].firstName %>  <%= result[i].lastName %></td>
          <td> <%= result[i].email %>  </td>
       
        </tr>
        <% } %>
        <% } %>
      </tbody >

    </table>
  </div>
</div>