<h1 class="m-4 titleAlign">Welcome <%= result[0].name %>! </h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card  colorBorderBottom">
        <img class="img-fluid cardImg" src="../Images/StaffRetreat.jpg" alt="...">

        <div class="card-body text-center">

          <h5> Staff Retreat 2019 </h5>
          <div class="text-center">
            <a href="/admin/admindashboard" class="btn btn-primary btn-lg"> View Details!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card colorBorderBottom2 text-center">
        <img class="img-fluid cardImg" src="../Images/Element.jpg" alt="...">

        <div class="card-body">
          <h5 class="card-title">Register for Element Retreat Here!</h5>
          <p class="card-text">May 19th - 21st</p>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg" disabled> Coming Soon!</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>