<h1 class="m-4 titleAlign">Welcome <%= result[0].name %>! </h1>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card  colorBorderBottom">
        <img class="img-fluid cardImg" src="../Images/StaffRetreat.jpg" alt="...">

        <div class="card-body text-center">

          <h5> Element Staff Retreat 2019 </h5>
          <div class="text-center">
            <a href="/admin/dashboard" class="btn btn-primary btn-lg"> Admin Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card colorBorderBottom2 text-center">
        <img class="img-fluid cardImg" src="../Images/Element.jpg" alt="...">

        <div class="card-body">
          <h5> Element 2019  </h5>
          <div class="text-center">
            <a href="/admin/dashboard" class="btn btn-primary btn-lg"> Admin Details </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>