
<div class="container d-flex min-vh-100">
  <div class="row align-items-center">
    <div class="col-sm-6">
      <div class="card  bottomBorderBlue">
        <img class="img-fluid cardImg" src="../Images/StaffRetreat.jpg" alt="...">

        <div class="card-body text-center">

          <h5> Element Staff Retreat 2019 </h5>

          <div class="text-center">
            <a href="/admin/dashboard" class="btn btn-primary btn-lg mt-3"> Admin Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bottomBorderYellow">
        <img class="img-fluid cardImg" src="../Images/Element.jpg" alt="...">

        <div class="card-body text-center">
          <h5> Element 2019 </h5>
          <div class="text-center">
            <button type="button" class="btn btn-secondary btn-lg" disabled> Coming Soon</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>