<div class="row mt-5 minWidth">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-unlock"></i>  Reset Password </h1>

        <form action="/users/resetPassword/<%=token%>" method="POST">

          <div class="form-group">
            <label for="email"> New Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Enter New Password"
            />
          </div>

          <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
