<div class="container-fluid">
  <h1 class="m-4 titleAlign"> Admin Dashboard </h1>

  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-user-friends fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> <%= numRegistered %> </div>
                <div class="adminCardTitle text-center"> Applicants Registered </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm">
        <div class="card adminCardBackgroundColor mb-3 border-primary">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-sm d-flex justify-content-center align-items-center">
                <i class="fas fa-money-check-alt fa-5x"></i>
              </div>
              <div class="col-sm">
                <div class="adminNumber text-center"> <%= numRegistered %> </div>
                <div class="adminCardTitle text-center"> Total Payments </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card border-primary mb-3">
          <div class="card-header">Header</div>
          <div class="card-body text-primary">
            <h5 class="card-title">Primary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>