<h1 class="m-4 titleAlign">Welcome <%= result[0].name %>! </h1>

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="card cardWidth colorBorderBottom">
      <img class="img-fluid cardImg" src="Images/StaffRetreat.jpg" alt="...">

    <div class="card-body">
      <h5 class="card-title">Register for Staff Retreat Here!</h5>
      <p class="card-text">February 19th - 21st</p>
      <div class="text-center">
        <a href="/eventRegister" class="btn btn-primary btn-lg">Register!</a>
      </div>
    </div>
  </div>

  <div class="card cardWidth colorBorderBottom2 m-5 ">
    <img class="img-fluid cardImg" src="Images/Element.jpg" alt="..."> 

    <div class="card-body">
      <h5 class="card-title">Register for Element Retreat Here!</h5>
      <p class="card-text">May 19th - 21st</p>
      <div class="text-center">
        <a href="/eventRegister" class="btn btn-lg btn-primary">Register!</a>
      </div>
    </div>
  </div>
</div>
