<h1 class="mt-4 titleAlign">Welcome <%= fullname %>! </h1>

<p> You are currently not registred for any events </p>
<div class="card cardWidth">
    <img class ="" src="" alt="...">
    <div class="card-body">
      <h5 class="card-title">Register for Staff Retreat Here!</h5>
      <p class="card-text">February 19th - 21st</p>
      <a href="#" class="btn btn-primary">Register!</a>
    </div>
  </div>