<h1 class="mt-4 titleAlign">Welcome <%= result.name %>! </h1>



<div class = "d-flex  justify-content-center "> 
<div class="card cardWidth borderTop ">
 <!--  <img class="" src="https://cdn.pixabay.com/photo/2015/12/01/20/28/fall-1072821__340.jpg" alt="..."> --> 
 <img class="" src="../../public/Images/mountain.jpg" alt="...">
  <div class="card-body">
    <h5 class="card-title">Register for Staff Retreat Here!</h5>
    <p class="card-text">February 19th - 21st</p>
    <a href="/eventRegister" class="btn btn-primary">Register!</a>
  </div>
</div>
</div>