<h1 class="m-4 titleAlign">Welcome <%= result.name %>! </h1>

<div class = "d-flex flex-column justify-content-center align-items-center"> 
<div class="card cardWidth colorBorderBottom">
 <!--  <img class="" src="https://cdn.pixabay.com/photo/2015/12/01/20/28/fall-1072821__340.jpg" alt="..."> --> 

  <div class="card-body">
    <h5 class="card-title">Register for Staff Retreat Here!</h5>
    <p class="card-text">February 19th - 21st</p>
    <a href="/eventRegister" class="btn btn-primary">Register!</a>
  </div>
</div>

<div class="card cardWidth colorBorderBottom2 m-5 ">
  <!--  <img class="" src="https://cdn.pixabay.com/photo/2015/12/01/20/28/fall-1072821__340.jpg" alt="..."> --> 

   <div class="card-body">
     <h5 class="card-title">Register for Element Retreat Here!</h5>
     <p class="card-text">May 19th - 21st</p>
     <a href="/eventRegister" class="btn btn-primary">Register!</a>
   </div>
 </div> 
</div>