<div class="container d-flex flex-column p-3 p-lg-5">
  <div class="row align-items-center">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <img src="./Images/StaffRetreat.jpg" class="cardImg">
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <div class="card-body text-lg-left text-center">
              <h3 class="card-title"> Element 3 Staff Retreat </h3>
              <p class="card-text">
                Date: February 28th - 30th
              </p>
              <p class="card-text">
                Location: UNCC Sanford Hall
              </p>
              <% if (alreadyRegistered == 0) { %>
              <div class = "align-items-end">
                <a href="/eventRegister" class="btn btn-primary btn-lg">Register Here!</a>
              </div>
              <% } else { %>
                <div class = "align-items-end">
                  <button type="button" class="btn btn-secondary btn-lg" disabled> Thank you for Registering!</button>
                </div>
                <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center pt-5">
    <div class="col-sm-12">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <img src="./Images/Element.jpg" class="cardImg">
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <div class="card-body text-lg-left text-center">
              <h3 class="card-title"> Element 3 </h3>
              <p class="card-text">
                Date: TBD
              </p>
              <p class="card-text">
                Location: TBD
              </p>

              <div class = "align-items-end">
                <button type="button" class="btn btn-secondary btn-lg" disabled> Coming Soon!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

