<form class="p-3">
    <div class="form-group">
        <label> Full Name</label>
        <input type="text" class="form-control" id="fullname" placeholder="Full Name">
    </div>
    <div class="form-group">
        <label> School </label>
        <select class="form-control form-control">
            <option> Univeristy of Georgia </option>
            <option> Univeristy of Florida</option>
        </select>
    </div>
    <div class="form-group">
            <label> Emergency Contact Full Name </label>
            <input type="text" class="form-control" id="fullname" placeholder="Emergency Contact Full Name ">
        </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>