<div class="pt-5">


    <div class="text-center staffRetreatTitle"> Staff Retreat 2019 </div>

    <form>
        <div class="form-row">

            <div class="form-group col">
                <label> Full Name</label>
                <input type="text" class="form-control" name="fullname" placeholder="Full Name">
            </div>
            <div class="form-group col-8">
                <label> School </label>
                <select class="form-control form-control" name="school">
                    <option> Univeristy of Georgia </option>
                    <option> Univeristy of Florida</option>
                </select>
            </div>


        </div>

        <div class="form-row">
            <div class="form-group col">
                <label> If other, please type:</label>
                <input type="text" class="form-control" name="fullname" placeholder="Other School">
            </div>
            <div class="form-group col-6">
                <label> Emergency Contact Name </label>
                <input type="text" class="form-control" name="emFullName" placeholder="Full Name">
            </div>
        </div>

        <div class="form-row">
                <div class="form-group col">
                    <label> Emergency Contact Relationship</label>
                    <input type="text" class="form-control" name="fullname" placeholder="Relationship">
                </div>
                <div class="form-group col-6">
                    <label> Emergency Contact Phone Number</label>
                    <input type="text" class="form-control" name="emFullName" placeholder="Phone Number">
                </div>
            </div>

    </form>
</div>
</div>