<div class="container">
    <div class="pt-5">

        <div class="text-center staffRetreatTitle mb-5"> Element Staff Retreat 2019</div>
        <form method="POST" action="/submitForm">
            <div class="form-row">

                <div class="form-group col-xl">
                    <label> Full Name</label>
                    <input type="text" class="form-control" name="fullname">
                </div>
                <div class="form-group col-xl">
                    <label> School </label>
                    <select class="form-control form-control" name="school">
                        <% for (var i = 0; i < schoolList.length; i++) { %>
                        <option> <%= schoolList[i] %> </option>
                       
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-xl">
                    <label> If other, please type:</label>
                    <input type="text" class="form-control" name="otherSchool" value = "N/A">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-xl">
                    <label> Emergency Contact Name </label>
                    <input type="text" class="form-control" name="emFullName">
                </div>
                <div class="form-group col-xl">
                    <label> Emergency Contact Relationship</label>
                    <input type="text" class="form-control" name="emRelationship">
                </div>
                <div class="form-group col-xl">
                    <label> Emergency Contact Phone Number</label>
                    <input type="number" class="form-control" name="emPhoneNumber" >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-xl">
                    <label> Arrival Date </label>
                    <select class="form-control form-control" name="arrivalDate">
                        <option> February 3rd </option>
                        <option> February 4th </option>
                        <option> February 5th </option>
                    </select>
                </div>
                <div class="form-group col-xl">
                    <label> Estimated Arrival Time </label>
                    <input type="time" class="form-control" name="arrivalTime">
                </div>
                <div class="form-group col-xl">
                    <label> Departure Date </label>
                    <select class="form-control form-control" name="departureDate">
                        <option> February 6th </option>
                        <option> February 7th </option>
                    </select>
                </div>
                <div class="form-group col-xl">
                    <label> Estimated Departure Time </label>
                    <input type="time" class="form-control" name="departureTime">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xl">
                    <label for="exampleFormControlSelect2"> Housing </label>
                    <select class="form-control" name="housingDate">
                        <option> February 19th </option>
                        <option> February 20th </option>
                        <option> February 19th & February 20th</option>
                    </select>
                </div>
                <div class="form-group col-xl">
                    <label for="exampleFormControlSelect1"> Are you arriving with other staff members?</label>
                    <select class="form-control" name="arrivingWithOthers">
                        <option> Yes </option>
                        <option selected="selected"> No </option>
                    </select>
                </div>

                <div class="form-group col-xl">
                    <label> If yes, please list their names</label>
                    <input type="text" class="form-control" name="othersArrivingWith">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-xl">
                    <label for="exampleFormControlSelect1"> Would you like to get dinner?</label>
                    <select class="form-control" name="gettingDinner">
                        <option> Friday </option>
                        <option> Saturday </option>
                        <option> Friday & Saturday </option>
                        <option> No </option>
                    </select>
                </div>

                <div class="form-group col-xl">
                    <label for="exampleFormControlSelect1"> Is this your first time on UVSASE staff?</label>
                    <select class="form-control" name="firstTimeStaff">
                        <option> Yes </option>
                        <option> No </option>
                    </select>
                </div>


                <div class="form-group col-xl">
                    <label> What do you hope to gain from staff retreat?</label>
                    <input type="text" class="form-control" name="gainFromStaffRetreat">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xl">
                    <label for="exampleFormControlSelect1"> Are you Vegetarian?</label>
                    <select class="form-control" name="vegetarian">
                        <option> Yes </option>
                        <option selected="selected"> No </option>
                    </select>
                </div>


                <div class="form-group col-xl">
                    <label> Medical Conditions / Disabilities?</label>
                    <input type="text" class="form-control" name="medicalConditions">
                </div>

                <div class="form-group col-xl">
                    <label> Allergies / Dietary Conditions (i.e. peanuts, etc...)?</label>
                    <input type="text" class="form-control" name="allergies">
                </div>
            </div>

            <div class="form-row"></div>
            <button type="submit" class="btn btn-primary btn-lg btn-block mb-5"> Submit</button>
        </form>
    </div>
</div>
</div>