body,
html {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}


.borderRight {
  border-right: solid;
}

/*
* Nav Bar
*/

.minCardHeight {
  min-height: 100%;
}

a:hover {
  color: black;
}

a {
  color: #114b5f;
}

.navBarBGColor {
  background-color: #114b5f;
}

/* Button CSS */
.btn-primary {
  color: white;
  background-color: #009fb7;
  border-color: #009fb7;
}

.btn-primary:hover {
  color: white;
  background-color: #114b5f;
  border-color: #114b5f;
}


/*
* Admin Dashboard 
*/
.adminCardTitle {
  font-size: 20px;
  text-align: center;
}

.adminNumber {
  font-size: 50px;
  text-align: center;
}

.eventTitle {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}

.border-primary {
  border-color: #009fb7 !important;
}

.text-primary {
  color: #009fb7 !important;
}



.attendeeInfoTablePadding {
  padding-right: 0px;
  padding-left: 0px;
}


/*
* Registertion Form
*/
.formTitle {
  font-size: 5vh;
  font-weight: 900;
}






/*
* User Dashboard
*/
.bottomBorderBlue {
  border-bottom: 2px solid #009fb7;
}

.bottomBorderYellow {
  border-bottom: 2px solid #fed766;
}




.minViewHeight {
  min-height: 500px;
  
}



/*
* Account Login / Register / Forgot Password 
*/

.testbg {
  height: 100vh;
  background: url("Images/nature2.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.minWidth {
  min-width: 65vw;
}

#outer {
  width: 100%;
  height: 100vh;
  display: flex;
}

#inner {
  margin: auto;
}



.title {
  color: #695e88;
  font-weight: bold !important;
  font-size: 35;
}

.subtitle {
  color: #695e88;
  font-size: 25;
}

.start {
  color: #695e88;
  font-size: 25px;
  font-weight: 600;
}

.cardTitle {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}








@media only screen and (max-width: 750px) {

  .cardWidth {
    width:80vw;
  }


  .card2 {
    width: 100%;
    margin-top: 15px;
  }

  #outer {
    width: 100%;
    height: 90vh;
    display: flex;
  }
}


@media only screen and (orientation: landscape) and (max-width: 1000px) { 


.testbg {
  height: 100vw;
  background: url("Images/nature2.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
}