body,
html {
  height: 100%;
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.min-vh-80 {
  min-height: 85vh !important;
}

.borderRight {
  border-right: solid;
}


/*
* Admin Dashboard 
*/
.adminCardTitle {
  font-size: 20px;
  text-align: center;
}

.adminNumber {
  font-size: 50px;
  text-align: center;
}

.attendeeInfoTablePadding {
  padding-right: 0px;
  padding-left: 0px;
}


/*
* Registertion Form
*/
.formTitle {
  font-size: 5vh;
  font-weight: 300;
}






/*
* User Dashboard
*/
.bottomBorderBlue {
  border-bottom: 2px solid blue;
}

.bottomBorderYellow {
  border-bottom: 2px solid yellow;
}


li > a:hover {
  background-color: white;
}

.minViewHeight {
  min-height: 50vh;

}



/*
* Account Login / Register / Forgot Password 
*/

.testbg {
  height: 100vh;
  background: url("Images/nature.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.minWidth {
  min-width: 65vw;
}

#outer {
  width: 100%;
  height: 100vh;
  display: flex;
}

#inner {
  margin: auto;
}



.title {
  color: #695e88;
  font-weight: bold !important;
  font-size: 35;
}

.subtitle {
  color: #695e88;
  font-size: 25;
}

.start {
  color: #695e88;
  font-size: 25px;
  font-weight: 600;
}

.cardTitle {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}








@media only screen and (max-width: 750px) {

  .cardWidth {
    width:80vw;
  }


  .card2 {
    width: 100%;
    margin-top: 15px;
  }

  #outer {
    width: 100%;
    height: 90vh;
    display: flex;
  }
}
